html {
  background-image: url("images/rainbow.jpg");
}

.main {
  display: flex;
  flex-direction: row;
}

.person {
  flex-grow: 1;
}

.person img{
  max-width: 200px;
}


/* Examples to show

flex-direction: row | row-reverse | column | column-reverse
  - governed by the directionality of the text (writing-mode: vertical-rl for ex)
  - determines the main start and main ends of the container

flex-wrap: wrap | no-wrap | reverse;
  - determines whether it is multi-line or single line
  - reverse swaps the cross start and cross end points

flex-flow (shorthand for <flex-direction> <flex-wrap>)



*/

